<header>
  <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">
     <a routerLink="" class="dashboard-logo"><img src="./assets/admin-img/inbloxBetaLogo.svg"></a>
  </nav>
</header>
<div class="img-main-container" style="width: 60%; margin-left: 20%">
    <div class="row"  >
      <div class="col-2">
      </div>
      <div class="col-8" width="60%">
        <div class="img-main-container">
          <img src="./assets/img/404.svg" alt="">
          <p>Enabling keyless transactions</p>
          <div *ngIf="handleName!=null|| handleName!=undefined">
            Handlename: {{handleName}}<br>
            Public Address: {{userAddress}}
            <button class="button-wrap" (click)="signTx()">Sign Transaction</button> 
            <button class="button-wrap" (click)="sendTransaction()">Send Transaction</button>
          </div>
          <div *ngIf="handleName==null|| handleName==undefined">
            <button class="button-wrap" (click)="initKeylessWidget()">Login</button>
          </div>
          <div *ngIf="transactionHash!=null|| transactionHash!=undefined">
          Transaction Hash: {{transactionHash}} 
          </div>
      
          
            

        </div>
      </div>
    </div>
  </div>